*{
    margin: 0%;
    padding: 0%;
}
.upper-part{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    height: 495px;
}
.upper-left{
   
    margin-left: 160px;
}
.swiggy-logo-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
    
    align-items: center;
    justify-content: space-around;
    
}
.swiggy-logo{
    width: 65%;
    margin-bottom: -20px;
}
.button {
    padding-left: 100px;
}


   

.sign-up-button{
    width: 110px;
    height: 36px;
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.login-button{
    color: black;
    background-color: transparent;
    border: none;
    margin-right: 13px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}
.login-button:hover{
    color: #fc8019;
}
.food{
    width: 100%;
    height: 80%;
}
.left .text{
    margin-left: 25px;
    margin-top: 50px;
}
.upper-left h1{
    font-size: 37px;
}
.upper-left .text p{
    margin-top: 22px;
    font-size: 19px;
}
.input{
    display: flex;
    margin-top: 40px;
}
.input input{
    width: 470px;
    height: 48px;
    border: 1px solid #fc8019;
}

input::placeholder{
    padding-left: 25px;
    font-size: 17px;
}
.find-button{
    width: 100px;
    color: white;
    background-color: #fc8019;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.long-text{
    color: gray;
    font-weight: bold;
}
.pop-text{
    color: gray;
}
.second-part{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
     
     background-color: #2b1e16;
     text-align: center;
     color: white;
     padding: 40px;
     padding-top: 0;
   

}
.second-part img{
     width: 33%;
}
.map{
    margin-bottom: 8px;
}

.third-part{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 570px;
    line-height: 40px;
}

.third-part .text{
    margin-top: 150px;
    margin-left: 150px;
}
.third-part .text h1{
    font-size: 44px;
}
.third-part .text p{
    margin-top: 30px;
    line-height: 20px;
    font-size: 20px;
    color: gray;
}
.third-part .text img{
    margin-top: 70px;
    width: 30%;
    margin-inline: 30px;
}
.mobile-1,.mobile-2{
    width: 26%;
    
}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 44px;
    line-height: 50px;
}
.footer .list{
    margin-inline: 33px;
}
.footer .list img{
    width: 55%;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 11px;
}
